.ContentDetail {
  display: flex;
  padding: 50px 5% 10%;

  &-left {
    width: 50%;
    margin-right: 1%;
  }

  &-right {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    margin-left: 1%;
    color: #000000;
    font-family: NanumMyeongjo;
    font-weight: bold;
    text-align: left;
    overflow-y: scroll;

    &-title {
      font-size: 70px;
      line-height: 87px;
      margin-bottom: 22px;
    }
    &-createdAt {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 32px;
    }
    &-description {
      font-size: 25px;
    }
  }
}