.Bible {
  &-head {
    background: rgba(238, 238, 238, 0.6);
    height: 180px;
    img {
      height: 60px;
      width: 100vw;
    }
    h1 {
      color: rgb(17, 17, 17);
      font-size: 22px;
      font-weight: 400;
      text-align: left;
      padding-left: 44px;
      margin-top: 30px;
      margin-bottom: 5px;
    }
    h3 {
      color: rgba(17, 17, 17, 0.6);
      font-size: 15px;
      font-weight: 400;
      text-align: left;
      padding-left: 44px;
      margin-top: 0px;
    }
    box-shadow: rgba(17, 17, 17, 0.2) 0px 2px 2px 0px;
  }
  &-mainVideo {
    padding: 3vw;
    padding-top: 0;
    border-bottom: solid 1px rgba(136, 136, 136, 0.4);

    iframe {
      width: 94vw;
      height: 53vw;
    }
    h3 {
      color: rgb(17, 17, 17);
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  &-recentContents {
    padding: 3vw;
    border-bottom: solid 1px rgba(136, 136, 136, 0.4);
    h3 {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      margin-top: 0;
    }
  }

  &-contentCard {
    margin-bottom: 12px;
    a {
      display: flex;
      text-decoration: none;
      color: black;
    }
    img {
      height: 90px;
      width: 160px;
      padding: 10px, 0;
    }
    p{
      margin: 0;
      font-size: 15px;
      padding-left: 8px;
    }
  }

  &-downIcon {
    padding-top :5px;
    padding-bottom :10px;
  }
}

.hide {
  display: none;
}
