.ContentCard {
  flex: 1;
  width: 100vw;
  transition: opacity 300ms linear, border-color 300ms linear,
    background-color 300ms linear,
    transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &-video {
    width: 100vw;
    height: 70vw;
  }

  img {
    width: 100vw;
    height: 100vw;
  }
}
