.ContentCard {
  display: flex;
  height: 88px;
  margin: 16px;
  border-radius: 5px;
  @media (min-width: 1024px) {
    width: 368px;
    display: inline-flex;
  }
  &-img {
    width: 88px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #4a4a4a2d;
    padding: 10px, 0;
  }
  &-right {
    text-align: left;
    padding: 0 0 0 12px;
    overflow: hidden;
    p {
      max-height: 46px;
      margin-top: 4px;
      margin-bottom: 5px;
      font-family: NanumSquareB;
      font-size: 13px;
      line-height: 1.77;
      color: #4a4a4a;
      overflow: hidden;
      white-space: nowrap; 
      text-overflow: ellipsis;
    }
    span {
      padding: 5px 8px;
      border-radius: 5px;
      background-color: #f8f8fb;
      display: inline-block;
      margin: 0 8px 0 0;
      height: 10px;
      font-family: OpenSans;
      font-size: 10px;
      text-align: center;
    }
  }
  &-bible {
    @media (min-width: 1024px) {
      transition: background-color 0.5s ease;
      &:hover {
        background: #ffe3e3;
      }
    }
  }
  &-life {
    @media (min-width: 1024px) {
      transition: background-color 0.5s ease;
      &:hover {
        background: #d0ebff;
      }
    }
  }
  &-ministry {
    @media (min-width: 1024px) {
      &:hover {
        background: #f3d9fa;
      }
    }
  }
}