.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #e8e9ee;
  padding: 0 20px 0 24px;
  box-sizing: border-box;
  height: 49px;
  width: 100vw;
  @media (min-width: 768px) {
    border: none;
  }
  &-title-logo-wrapper {
    display: flex;
    align-items: center;
  }
  
  &-logo {
    height: 30px;
    img {
      height: 30px;
    }
  }
  h1 {
    width: 141px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    margin: 0 0 0 16px;
  }

  i {
    color: #3a4c5e;
    font-size: 20px;
    left: 15px;
    top: 15px;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
