.Main {
  
  &-words {
    margin: 24px 0 24px 30px;
    &-title {
      height: 28px;
      text-align: left;
      font-family: NanumMyeongjo;
      font-size: 24px;
      font-weight: 600;
      color: #fd9297;
    }
    &-subTitle {
      height: 70px;
      margin: 36px 0 0 0;
      text-align: left;
      font-family: NanumMyeongjo;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.75;
      letter-spacing: -0.3px;
      color: #c5c8cf;
    }
  }
  
  &-searchbarWrapper {
    margin: 0 24px;
  }
  
  &-buttonContainer {
    padding: 1rem;
  }
  &-button {
    position: relative;
    height: 4.5rem;
    background: #e9ecef;
    margin: 1rem;
    border-radius: 5px;
    h3 {
      margin: 0;
      line-height: 4.5rem;
      font-weight: 400;
    }
    i {
      position: absolute;
      top: 1.75rem;
      right: 1.5rem;
    }
  }
}

.bible {
  color: #98d0d0;
}

.life {
  color: #d8c864;
}

.ministry {
  color: #797979;
}
