.Main {
  &-words {
    margin: 24px 30px;
    &-title {
      height: 28px;
      text-align: left;
      font-family: NanumMyeongjo;
      font-size: 24px;
      font-weight: 600;
      color: #fd9297;
      @media (min-width: 1024px) {
        text-align: center;
        font-size: 27px;
      }
    }
    &-subTitle {
      height: 70px;
      margin: 36px 0 0 0;
      text-align: left;
      font-family: NanumMyeongjo;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.75;
      letter-spacing: -0.3px;
      color: #c5c8cf;
      span {
        display: inline-block;
        width: 220px;
      }
      @media (min-width: 768px) {
        span {
          width: 220px;
        }
        br {
          display: none;
        }
      }
      @media (min-width: 1024px) {
        text-align: center;
        font-size: 22px;
        span {
          width: 265px;
          margin: 0 auto;
        }
      }
    }
  }
  
  &-searchbarWrapper {
    margin: 0 24px;
  }
  
  &-buttonContainer {
    padding: 20px 18px 25px 18px;
    overflow: scroll;
    display: flex;
    position: relative;
    &::-webkit-scrollbar { 
      display: none; 
    }
    @media (min-width: 1024px) {
      padding: 54px 0px;
      justify-content: center;
    }
  }
  &-button {
    display: inline-block;
    width: 311px;
    height: 178px;
    margin: 0 6px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 3px 30px -3px rgba(0, 0, 0, 0.15);
    text-align: left;
    overflow: hidden;
    -webkit-transition: top 0.5s ease-out;
    -moz-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    top: 0px;
    &-imgWrapper {
      height: 98px;
      overflow: hidden;
      img {
        width: 311px;
      }
    }
    &-last {
      margin: 0 24px 0 6px;
    }
    h3 {
      margin: 15px 0 0 20px;
      font-family: NanumSquareEB;
      font-size: 18px;
    }
    p {
      margin: 12px 0 0 16px;
      font-family: NanumSquareR;
      font-size: 13px;
      color: #4a4a4ac0;
    }
    &:hover {
      @media (min-width: 1024px) {
        position: relative;
        top: -10px;
        box-shadow: 0 4px 40px -4px rgba(0, 0, 0, 0.411);
      }
    }
  }
}

.bible {
  color: #fc747b;
}

.life {
  color: #349dee;
}

.ministry {
  color: #be4bdb;
}
