.ArrowButton {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  padding: 0px;
  background: white;
  border: 1px #f6f6f6 solid;
  &:focus {
    outline: 0;
  }

  &-img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 0px;
    top: 1px;
    &-right {
      width: 20px;
      height: 20px;
      position: relative;
      left: 0px;
      top: 1px;
      transform: rotate(180deg);
    }
    &-left {
      width: 20px;
      height: 20px;
      position: relative;
      left: 0px;
      top: 1px;
    }
  }
}
