.ArrowButton {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.74);
  border: 1px #f6f6f686 solid;
  &:focus {
    outline: 0;
  }

  &-img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 0px;
    top: 1px;
    &-right {
      width: 20px;
      height: 20px;
      position: relative;
      left: 0px;
      top: 1px;
      transform: rotate(180deg);
    }
    &-left {
      width: 20px;
      height: 20px;
      position: relative;
      left: 0px;
      top: 1px;
    }
  }
}
