.NewContents {
  display: flex;
  flex-wrap: wrap;
}

.ContentCard {
  background: blue;
  width: 23%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  &-img {
    box-sizing: border-box;
    padding-top: 100%;
    margin-bottom: 9px;
    overflow: hidden;
    background-image: url("http://www.bare.kr/storage/a0be097c013bfb8e40775f08468ce3b2.jpg");
    border: 10px solid rgba(53, 53, 53, 1);
  }
  &-text {
    display: flex;
    justify-content: space-between;
    font-family: NanumMyeongjo;
    font-weight: bold;
    color: #000000;
    &-title {
      font-size: 20px;
      line-height: 25px;
    }
    &-date {
      font-size: 15px;
      line-height: 19px;
    }
  }
}
