.LifeContentPage {
  text-align: start;
  &-ContentWrapper {
    margin-top: 15px;
    display: flex;
  }
  &-postWrapper {
    margin: 0 15px;
    padding-bottom: 3rem;
  }
  &-title {
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #262626;
    font-size: 2.4vh;
  }
  &-content {
    margin: 0;
    padding-bottom: 5px;
    font-size: 2vh;
  }
  &-tag {
    color: #003569;
    font-size: 1.95vh;
  }
}
