.LifeContentPage {
  text-align: start;
  overflow-x: hidden;
  &-main {
    box-shadow: 0 6px 30px -15px rgba(41, 57, 72, 0.2);
  }
  &-ContentWrapper {
    display: flex;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  &-leftArrow {
    position: absolute;
    top: 42%;
    left: 10px;
    z-index: 1000;
  }
  &-rightArrow {
    position: absolute;
    top: 42%;
    right: 10px;
    z-index: 1000;
  }
  &-title {
    padding: 15px 0 18px 24px;
    font-family: NanumSquareEB;
    font-size: 14px;
    color: #4a4a4a;
  }
  &-postWrapper {
    margin: 0 24px;
    padding-bottom: 3rem;
  }
  &-content {
    margin: 24px 0 0 0;
    font-family: NanumSquareR;
    font-size: 13px;
    line-height: 1.85;
    color: #727880;
  }
  &-tagWrapepr {
    margin: 30px 0 0 0;
  }
  &-tag {
    display: inline-block;;
    height: 20px;
    margin: 0 8px 0 0;
    padding: 0 8px;
    border-radius: 5px;
    background-color: #f8f8fb;
    color: #349dee;
    text-align: center;
    font-family: OpenSans;
    font-size: 10px;
    line-height: 20px;
  }
}
