.Main {
  &-title {
    width: 914px;
    height: 496px;
    margin: 100px auto 0;
    font-family: NanumMyeongjo;
    h1 {
      margin: 0;
      font-size: 120px;
      font-weight: 500;
      text-align: left;
    }
    h4 {
      margin: 0;
      padding: 0 0 0 130px;
      font-size: 96px;
      font-weight: 500;
    }
    h3 {
      margin: 0;
      padding: 0 150px 0 0;
      font-size: 100px;
      font-weight: 500;
    }
    h2 {
      margin: 0;
      font-size: 120px;
      text-align: right;
    }
  }
}
