.ContentPage {
  &-contentCardSliderWrapper {
    box-shadow: 0 6px 30px -15px rgba(41, 57, 72, 0.2);
    &-title {
      padding: 13px 0 18px 24px;
      font-family: NanumSquareEB;
      font-size: 14px;
      text-align: left;
      color: #4a4a4a;
    }
  }
  &-contentCardSlider {
    position: relative;
    overflow-x: hidden;
    // border-bottom: 1px solid #e8e9ee5d;
    &-wrapper {
      display: flex;
      transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &-leftArrow {
      position: absolute;
      top: 47%;
      left: 10px;
      z-index: 1000;
    }
    &-rightArrow {
      position: absolute;
      top: 47%;
      right: 10px;
      z-index: 1000;
    }
  }

  &-post {
    margin: 0 15px;
    text-align: left;
    &-bibleRange {
      margin-top: 3.5px;
      margin-bottom: 3.5px;
      font-weight: 500;
      font-size: 14px;
      color: #000;
    }
    &-bibleTextWrapper {
      position: relative;
    }
    &-bibleText {
      height: 20vh;
      font-size: 1.9vh;
      margin-top: 0px;
      color: #000;
    }
    &-sharing {
      margin-top: 1vh;
      margin-bottom: 1vh;
      color: #777;
      font-size: 2vh;
      &-question {
        margin-top: 0;
        margin-bottom: 1vh;
      }
      &-tag {
        color: #003569;
        font-size: 13px;
      }
      &-button {
        display: block;
        border: 1px solid #dbdbdb;
        width: 50vw;
        padding: 1vh 3vh;
        text-align: center;
        border-radius: 3px;
        font-weight: 500;
        font-size: 13px;
        color: #262626;
        margin: 25px auto;
        background: #f6f6f6;
        &:hover {
          background: #dbdbdb48;
        }
      }
    }
  }
  &-downIcon {
    padding: 0 0 10px 0;
    font-size: 20px;
    color: #d9dbe1;
  }
}

.hidden {
  overflow: hidden;
}

.visible {
  height: 100%;
}

.background {
  position: absolute;
  bottom: 68px;
  width: 375px;
  height: 146px;
  // background: black;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}