@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  background-color: #f6f6f6;
}
