.ContentCard {
  &-contentCard {
    display: flex;
    margin-bottom: 12px;
    img {
      height: 90px;
      width: 160px;
      padding: 10px, 0;
    }
    p{
      margin: 0;
      font-size: 15px;
      padding-left: 8px;
    }
  }
}