.New {
    position: relative;
    min-height: 100vh;
    background-color: #E5E5E5;
    header {
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding: 88px 0 0;
            li {
                padding: 10px 0 0 6px;
                width: 350px;
                height: 50px;
                font-family: NanumMyeongjo;
                font-weight: bold;
                font-size: 24px;
                line-height: 30px;
                color: #000000;
                border-top: 5px solid #000000;
                text-align: left;
            }
        }
    }
    footer {
        position: absolute;
        bottom: 40px;
        left: 50px;
        img {
            width: 114px;
            height: 81px;
        }
    }
}

.active {
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}