.SideNavbar {
  position: relative;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  background-image: linear-gradient(119deg, #ffc4c8, #fc747b);
  &-title {
    height: 38px;
    margin: 0 0 60px 0;
    border-bottom: 1px solid #ffffff;
  }
  &-underTitle {
    position: absolute;
    bottom: 40px;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    font-family: NanumMyeongjo;
    text-align: left;
    color: #ffffff;
    line-height: 1.75;
    letter-spacing: -0.3px;
  }
}